.area {
    background: springgreen;
    margin-top: 10px;
}

.add {
    height: 38px;
    width: 85px;
    background: #009900;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    position: absolute;
    top: 10px;
    right: 317px;

}

.newtask {
    position: relative;
}
.ptask {
    width: 435px;
    height: 38px;
    font-size:18px;
    font-weight:bold;
    color:#000000;
}